* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;

}

ul {
    list-style: none;
}



body {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}

@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }


}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: none;
    }

}
.header {
    background-color: rgba(92, 177, 154, 1);
    width: 100%;
    position: fixed;
    z-index: 50;
    font-family: "ALK Life", sans-serif;

}


.logo{
    width:120px;
    height: 90px;
    margin:0 auto;
}
.logo img {
    width: 100%;
    height: 100%;
    /*position: relative;*/
}

.nav {
    display: grid;
    grid-template-columns: 1fr minmax(50px, 150px) 1fr;
    position: relative;
    z-index: 3;


}

.nav_items {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.items {
    color: white;
}
.items:hover{
    opacity: 0.7;
    transition:all 0.3s ease;
}
.items.Fixed{
    color: black;
    transition: 5s;

}

@media (max-width: 767px) {
    .nav_items_two{
        margin-top:180px
    }
    body.lock{
        overflow: hidden;
    }
    .nav {
        display: grid;
        grid-template-columns: 11fr 1fr;}

    .nav_items {
        display: flex;
        flex-direction: column;
        z-index: 5;
        position: absolute;
        top: 120px;
        left: 0;
        align-items: start;



    }
    .items{
        padding-bottom: 40px;
    }
    .header:before {
        content: "";
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 3;
        background-color: rgba(94, 179, 155, 0.4);
        height: 90px;
        left: 0;


    }
    .header {
        position: fixed;
        width: 100%;
        height: 100px;
        top: 0;
        left: 0;
        z-index: 50;
        transition: all 0.3s ease 0s;

    }
    .header.active {
        position: fixed;
        width: 80%;
        height: 100%;
        background-color: cadetblue;
        top: 0;
        left: 0;
        z-index: 50;
        overflow: auto;


    }
    .nav_items.active{
        display:flex;

    }
    .nav_items{
        display: none;
    }

    .header_burger {
        display: block;
    }

    .header_burger span {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: black;
        right: 0;
        top: 50px;
        transition: all 0.3s ease 0s;
    }

    .header_burger:before,
    .header_burger:after {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: black;
        right: 0;
        top: 60px;
        transition: all 0.3s ease 0s;

    }

    .header_burger:before {
        top: 40px;
        right: 0;
    }

    .header_burger.active:before {
        transform:rotate(45deg);
        top:50px;
    }

    .header_burger.active:after {
        transform:rotate(-45deg);
        top:50px;
    }
    .header_burger.active span{
        transform: scale(0);
    }
}




.contact_title {
    border-bottom: 3px solid black;
    padding:200px 0 50px 0;
    background-color: rgba(92, 177, 154 , 0.6);
    font-family: "KA_LORTKIPANIDZE", sans-serif;

}
.contact_title h1{
    text-align: center;
    color: black;

}
.wrapper{
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr 1fr;
    position: relative;
    top: 100px;
    font-family: "KA_LORTKIPANIDZE", sans-serif;

}
.input_Forms{
   margin-top: 50px;

}
.input{
    display: block;
    margin-bottom: 20px;
    padding-bottom: 10px;
    width: 369px;
    border-radius: 5px;
border:1px solid grey;
}
.contact_mail{
    margin-bottom: 20px;
    padding-bottom: 10px;
    width: 369px;
    border-radius: 5px;
    border:1px solid grey;
   height: 350px;
}
.input_section textarea{
    border-radius: 5px;
}
.contanct_info{
    display: grid;
   grid-template-rows: 1fr 1fr;
    margin-top: 50px;

}

.logos{
    display: grid;
    background-color:rgb(153 206 236);
    border-radius: 5px;
    grid-row: 1/3;
    max-height: 445px;
}
#gmail_logo{
    font-size: 30px;
}
#phone_logo{
    font-size: 30px;
}
#map_logo {
    font-size: 30px;
}
#facebook_logo{
    font-size: 30px;
    color: #2f85f4;
}
#instagram_logo{
    font-size: 30px;
    color: #ef1ab6;
}
#whatsupp_logo {
    font-size: 30px;
    color: #13ef46;
}

.btn{
    display: block;
    padding: 10px 25px;
background-color: rgb(153 206 236);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    left: 255px;
    margin-top: 20px;
    font-family: "KA_LORTKIPANIDZE", sans-serif;

}
.contant_items{
    display: flex;
    margin-left: 70px;
    align-items: center;


}
.contant_items span {
    margin-left: 100px;
}
.social_contanct_info{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    min-height: 40px;
}

.social_contanct_info .contant_items {
    align-items: center;
}
.social_items{
    display: flex;
    justify-content: space-around;
    align-items: center ;
}
.footer{
    background-color: rgba(92, 177, 154, 1);
    width: 100%;
    height: 90px;
    position: relative;
    top: 300px;
    font-family: "KA_LORTKIPANIDZE", sans-serif;

}
@media (max-width: 987px) {
    .contant_items{
        margin-left: 10px;
    }
.wrapper{
    grid-gap: 20px;
}
}
@media (max-width: 767px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        top: 100px;
    }
    .logos{
        padding: 10px;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-gap: 20px;
    }
 .input_section{
     margin:auto;
 }
}

@media (max-width:390px ) {
    .input{
        max-width: 300px;
    }
    .contact_mail{
        max-width: 300px;

    }
    .btn{
        left: 180px;
    }
    .contant_items span{
        margin-left: 20px;
    }
}